In [16]:
# === CHECK MARTS (Pandas) ===============================================
# Use in Jupyter (cell by cell) or save as notebooks/check_marts.py and run.
# ------------------------------------------------------------------------

from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt

# ---- Paths (edit if needed) --------------------------------------------
BASE_DIR = Path(__file__).resolve().parents[1] if "__file__" in globals() else Path(".").resolve()
DATA_DIR = BASE_DIR / "data"
MARTS_DIR = DATA_DIR / "marts"

# Partitioned Parquet directories (written by your Spark marts job)
FACT_BY_TYPE_DIR      = MARTS_DIR / "fact_monthly_prices"            # yearly agg by (district, property_type, year)
FACT_BY_DISTRICT_DIR  = MARTS_DIR / "fact_monthly_prices_district"   # yearly agg by (district, year)

# Single Parquet (coalesced to 1) with 5y bounds
BOUNDS_5Y_PATH        = MARTS_DIR / "agg_bounds_5y"

TRANSFORMED = DATA_DIR / "transformed"

RAW = DATA_DIR / "raw" / "pp_complete.csv"

T_CSV = BASE_DIR / "ppdata_with_header.csv"

# Show full floats without scientific notation
pd.set_option("display.float_format", "{:,.0f}".format)

In [19]:
# ---- Helpers ------------------------------------------------------------
def must_exist(path: Path, kind: str = "path"):
    if not path.exists():
        raise FileNotFoundError(f"Missing {kind}: {path}")
    return path

def summarize_df(name: str, df: pd.DataFrame, n: int = 5):
    print(f"\n=== {name}: shape={df.shape} ===")
    print(df.head(n))
    print("\n-- dtypes --")
    print(df.dtypes)
    print("\n-- describe (numeric) --")
    print(df.describe().T)
    # Basic null check
    nulls = df.isna().sum()
    if nulls.any():
        print("\n-- null counts --")
        print(nulls[nulls > 0].sort_values(ascending=False))

def coerce_numeric(df: pd.DataFrame, cols):
    for c in cols:
        if c in df.columns:
            df[c] = pd.to_numeric(df[c], errors="coerce")
    return df

In [21]:
# ---- Load marts ---------------------------------------------------------
#must_exist(FACT_BY_TYPE_DIR, "parquet dir")
#must_exist(FACT_BY_DISTRICT_DIR, "parquet dir")
#must_exist(BOUNDS_5Y_PATH, "parquet dir")

df_type = pd.read_parquet(FACT_BY_TYPE_DIR)
df_dist = pd.read_parquet(FACT_BY_DISTRICT_DIR)
df_bounds = pd.read_parquet(BOUNDS_5Y_PATH)

df_parq = pd.read_parquet(TRANSFORMED)

In [5]:


# Read raw CSV (headerless)
#df_csv = pd.read_csv(RAW, header=None, names=columns)
#df_full_csv = pd.read_csv(T_CSV)

# Save with headers
#df_csv.to_csv("ppdata_with_header.csv", index=False)


# Convert transfer_datetime to datetime
df_full_csv["transfer_datetime"] = pd.to_datetime(df_full_csv["transfer_datetime"], errors="coerce")

In [21]:
# ---- Summaries ----------------------------------------------------------
summarize_df("FACT_BY_TYPE (district, property_type, year)", df_type)
summarize_df("FACT_BY_DISTRICT (district, year)", df_dist)
summarize_df("BOUNDS_5Y (min/max per district over last 5y)", df_bounds)

=== FACT_BY_TYPE (district, property_type, year): shape=(18173, 5) ===
       district property_type  avg_price  txn_count  year
0   EAST DORSET             D    113,952        150  1995
1    BIRMINGHAM             T     40,992        747  1995
2   TEST VALLEY             T     57,806         70  1995
3  PETERBOROUGH             D     68,676         83  1995
4      TRAFFORD             T     49,421        113  1995

-- dtypes --
district          object
property_type     object
avg_price        float64
txn_count          int64
year               int64
dtype: object

-- describe (numeric) --
           count    mean     std   min     25%     50%     75%        max
avg_price 18,173 237,662 324,247   380 106,333 169,894 274,995 12,930,000
txn_count 18,173      59      73     1      11      38      80        879
year      18,173   2,010       9 1,995   2,004   2,010   2,013      2,025

=== FACT_BY_DISTRICT (district, year): shape=(5578, 4) ===
                district  avg_price  txn_count  year
0               REDDITCH     62,889        180  1995
1            MEIRIONNYDD     40,116         60  1995
2                  CONWY     40,525          6  1995
3  PRESELI PEMBROKESHIRE     53,180        103  1995
4                  ARFON     44,142         91  1995

-- dtypes --
district      object
avg_price    float64
txn_count      int64
year           int64
dtype: object

-- describe (numeric) --
           count    mean     std    min     25%     50%     75%       max
avg_price  5,578 240,644 194,188 10,000 129,360 196,319 296,779 3,128,445
txn_count  5,578     193     224      1       5     137     285     2,316
year       5,578   2,011       9  1,995   2,004   2,011   2,020     2,025

=== BOUNDS_5Y (min/max per district over last 5y): shape=(317, 3) ===
     district  min_price_past  max_price_past
0  CUMBERLAND           35000         1050000
1   ROTHERHAM           50000          928000
2     FAREHAM           59500         1075000
3     CHORLEY           55000         1020000
4     RUTLAND          115625         3350000

-- dtypes --
district          object
min_price_past     int32
max_price_past     int32
dtype: object

-- describe (numeric) --
                count      mean       std     min     25%       50%       75%  \
min_price_past    317    77,563    41,552   1,500  50,000    70,500    99,000
max_price_past    317 2,386,965 7,470,068 392,000 900,000 1,300,000 2,050,000

                       max
min_price_past     425,000
max_price_past 124,519,556

In [ ]:
# Filter Colchester rows and in 2022 (there should be 4628 transactions)
check_ch = df_full_csv[(df_full_csv["town"].str.upper() == "COLCHESTER") & 
                   (df_full_csv["county"].str.upper() == "ESSEX") & 
                   (df_full_csv["transfer_datetime"].dt.year == 2022)]

check_ch.count()

transaction_id       4880
price                4880
transfer_datetime    4880
postcode             4867
property_type        4880
new_build            4880
tenure               4880
paon                 4880
saon                  472
street               4875
locality             2471
town                 4880
district             4880
county               4880
ppd_category         4880
record_status        4880
dtype: int64

In [24]:
# Filter Colchester rows and in 2022 (there should be 4628 transactions)
check_ch = df_parq[(df_parq["town"].str.upper() == "COLCHESTER") & 
                   (df_parq["county"].str.upper() == "ESSEX") & 
                   (df_parq["year"] == 2022)]

check_ch.count()

transaction_id       4628
price                4628
transfer_datetime    4628
postcode             4628
property_type        4628
new_build            4628
tenure               4628
paon                 4628
saon                  438
street               4625
locality             2326
town                 4628
district             4628
county               4628
ppd_category         4628
record_status        4628
transfer_ts          4628
transfer_date        4628
year                 4628
dtype: int64

In [8]:
df_full_csv.count()

transaction_id       30365754
price                30365754
transfer_datetime    30365754
postcode             30316542
property_type        30365754
new_build            30365754
tenure               30365754
paon                 30361570
saon                  3626679
street               29883553
locality             18987870
town                 30365754
district             30365754
county               30365754
ppd_category         30365754
record_status        30365754
dtype: int64

In [22]:
df_parq.count()

transaction_id       29789443
price                29789443
transfer_datetime    29789443
postcode             29773506
property_type        29789443
new_build            29789443
tenure               29789443
paon                 29785259
saon                  3526921
street               29354290
locality             18750529
town                 29789443
district             29789443
county               29789443
ppd_category         29789443
record_status        29789443
transfer_ts          29789443
transfer_date        29789443
year                 29789443
dtype: int64

In [ ]:
# Filter Manchester rows and only before 2025
manchester_df = df_csv[(df_csv["WILLEN"].str.upper() == "COLCHESTER")]

# Exclude "Other" property type (O)
filtered = manchester_df[manchester_df["D"] != "O"]
#filtered = manchester_df

# Calculate average price per year
averages = (
    filtered.groupby("year", as_index=False)
            .agg(avg_price=("price", "mean"))
)

# Show the result
display(averages)

KeyError: 'property_type'

In [38]:
df_full["district"].unique()

array(['WIGAN', 'SHEPWAY', 'WOLVERHAMPTON', 'CEREDIGION', 'HOUNSLOW',
       'PORTSMOUTH', 'NORTH WEST LEICESTERSHIRE', 'SOUTH NORFOLK',
       'HORSHAM', 'ENFIELD', 'CASTLE POINT', 'BROXBOURNE', 'CARDIFF',
       'CROYDON', 'ROCHESTER UPON MEDWAY', 'REIGATE AND BANSTEAD',
       'AYLESBURY VALE', 'EREWASH', 'HAMMERSMITH AND FULHAM', 'FENLAND',
       'DARLINGTON', 'SEDGEFIELD', 'CRAWLEY', 'ADUR', 'MANCHESTER',
       'THREE RIVERS', 'ARUN', 'GATESHEAD', 'BARNET', 'HARINGEY',
       'MID DEVON', 'BARNSLEY', 'COTSWOLD', 'ROSSENDALE', 'BRECKLAND',
       'LEEDS', 'WAKEFIELD', 'PORT TALBOT', 'RESTORMEL', 'SANDWELL',
       'MAIDSTONE', 'SOUTH STAFFORDSHIRE', 'ROTHERHAM', 'CARADON',
       'WREXHAM MAELOR', 'BLACKBURN', 'KINGSWOOD', 'SOUTH KESTEVEN',
       'GLOUCESTER', 'RICHMOND UPON THAMES', 'CHARNWOOD', 'KENNET',
       'CHELTENHAM', 'BEXLEY', 'BURY', 'KERRIER', 'TAMESIDE',
       'WINCHESTER', 'EAST HERTFORDSHIRE', 'NORWICH', 'TOWER HAMLETS',
       'LEICESTER', 'STOKE-ON-TRENT', 'TAFF-ELY', 'IPSWICH',
       'WELLINGBOROUGH', 'CALDERDALE', 'TRAFFORD', 'STEVENAGE',
       'THE WREKIN', 'KIRKLEES', 'CAMBRIDGE', 'HOVE', 'REDDITCH',
       'ISLWYN', 'HUNTINGDONSHIRE', 'BIRMINGHAM', 'BASILDON', 'ELMBRIDGE',
       'NORTH KESTEVEN', 'HILLINGDON', 'EASTBOURNE', 'HAVANT',
       'WANDSWORTH', 'MEDINA', 'HACKNEY', 'POOLE', 'PLYMOUTH',
       'NORTH HERTFORDSHIRE', 'WYCHAVON', 'WALSALL', 'WATFORD',
       'TEIGNBRIDGE', 'SELBY', 'SOUTH OXFORDSHIRE', 'BOOTHFERRY',
       'PRESELI PEMBROKESHIRE', 'SEFTON', 'EPPING FOREST', 'SWANSEA',
       'ST EDMUNDSBURY', 'BRADFORD', 'WALTHAM FOREST', 'TORFAEN',
       'KINGSTON UPON HULL', 'UTTLESFORD', 'COLCHESTER',
       'BASINGSTOKE AND DEANE', 'RUNNYMEDE', 'CANNOCK CHASE', 'SOLIHULL',
       'CASTLE MORPETH', 'LEWES', 'ROTHER', 'GOSPORT', 'WILTSHIRE',
       'NOTTINGHAM', 'LANCASTER', 'SOUTHEND-ON-SEA', 'WEST LANCASHIRE',
       'SUTTON', 'DARTFORD', 'MERTON', 'CAMDEN', 'WYCOMBE', 'HARROW',
       'GEDLING', 'RUSHCLIFFE', 'BRENT', 'HYNDBURN', 'NEW FOREST',
       'SOUTHWARK', 'TORRIDGE', 'REDBRIDGE', 'EAST HAMPSHIRE',
       'KINGSTON UPON THAMES', 'AMBER VALLEY', 'LAMBETH',
       'NEWCASTLE UPON TYNE', 'ASHFORD', 'HAVERING', 'WEALDEN', 'THANET',
       'BATH AND NORTH EAST SOMERSET', 'ELLESMERE PORT AND NESTON',
       'GWYNEDD', 'HART', 'MALDON', 'GREAT YARMOUTH', 'BROMSGROVE',
       'NORTH DORSET', 'SOUTH SHROPSHIRE', 'ST HELENS', 'BOLTON',
       'KENSINGTON AND CHELSEA', 'CHELMSFORD', 'MID SUSSEX',
       'SOUTH TYNESIDE', 'WEST WILTSHIRE', 'PETERBOROUGH', 'NORTHAMPTON',
       'ROCHDALE', 'CANTERBURY', 'VALE OF GLAMORGAN', 'MIDDLESBROUGH',
       'BRISTOL', 'HEREFORD', 'TANDRIDGE', 'SOUTH SOMERSET', 'WOKINGHAM',
       'WAVERLEY', 'SOUTH HAMS', 'SOUTHAMPTON', 'EAST DEVON', 'LUTON',
       'WEST DORSET', 'NEWHAM', 'DERBYSHIRE DALES', 'CITY OF WESTMINSTER',
       'STOCKTON-ON-TEES', 'GUILDFORD', "KING'S LYNN AND WEST NORFOLK",
       'ROCHFORD', 'HARLOW', 'GREAT GRIMSBY', 'RHONDDA',
       'CITY OF KINGSTON UPON HULL', 'BRACKNELL FOREST', 'FOREST OF DEAN',
       'BASSETLAW', 'HOLDERNESS', 'WEAR VALLEY', 'BRAINTREE', 'RHUDDLAN',
       'VALE OF WHITE HORSE', 'SEDGEMOOR', 'WOODSPRING', 'EAST LINDSEY',
       'EAST DORSET', 'MERTHYR TYDFIL', 'DUDLEY', 'MELTON', 'PURBECK',
       'SALFORD', 'DONCASTER', 'WEST SOMERSET', 'BRIGHTON',
       'SURREY HEATH', 'ALYN AND DEESIDE', 'TENDRING', 'GLANFORD',
       'BROADLAND', 'LEWISHAM', 'BOLSOVER', 'WOKING',
       'SOUTH CAMBRIDGESHIRE', 'WARRINGTON', 'PENDLE', 'NEWPORT',
       'BROXTOWE', 'WIRRAL', 'NORTH WILTSHIRE', 'MID SUFFOLK',
       'HIGH PEAK', 'EALING', 'DAVENTRY', 'SHEFFIELD',
       'TONBRIDGE AND MALLING', 'CARRICK', 'DURHAM', 'SLOUGH', 'MENDIP',
       'EPSOM AND EWELL', 'HAMBLETON', 'BROMLEY', 'ST ALBANS',
       'HARROGATE', 'TORBAY', 'WAVENEY', 'ISLINGTON', 'CHRISTCHURCH',
       'NEWCASTLE-UNDER-LYME', 'BRIDGNORTH', 'NORTH NORFOLK',
       'SOUTH RIBBLE', 'STRATFORD-ON-AVON', 'CHILTERN', 'SOUTH WIGHT',
       'TEESDALE', 'CHESTERFIELD', 'COVENTRY', 'THURROCK', 'HARBOROUGH',
       'HERTSMERE', 'PRESTON', 'LLANELLI', 'RYEDALE',
       'WINDSOR AND MAIDENHEAD', 'MACCLESFIELD', 'MONTGOMERYSHIRE',
       'MALVERN HILLS', 'OGWR', 'STOCKPORT', 'BLAENAU GWENT', 'CHORLEY',
       'BRENTWOOD', 'ASHFIELD', 'GRAVESHAM', 'HASTINGS',
       'SUFFOLK COASTAL', 'RUGBY', 'WEST LINDSEY', 'CHERWELL',
       'SOUTH LAKELAND', 'RHYMNEY VALLEY', 'SWALE', 'CITY OF LONDON',
       'LINCOLN', 'SUNDERLAND', 'OXFORD', 'MILTON KEYNES', 'CRAVEN',
       'SALISBURY', 'BABERGH', 'ALLERDALE', 'LICHFIELD', 'RUSHMOOR',
       'EAST YORKSHIRE', 'LEOMINSTER', 'RICHMONDSHIRE',
       'NORTH EAST DERBYSHIRE', 'OLDHAM', 'GREENWICH', 'EASTLEIGH',
       'SPELTHORNE', 'MOLE VALLEY', 'NORTH TYNESIDE', 'BARROW-IN-FURNESS',
       'DACORUM', 'CYNON VALLEY', 'LIVERPOOL', 'STAFFORD', 'COLWYN',
       'TEST VALLEY', 'WANSDYKE', 'SCARBOROUGH', 'NORTH DEVON',
       'NORTH CORNWALL', 'BRIGHTON AND HOVE', 'DINEFWR', 'DERBY', 'POWYS',
       'MID BEDFORDSHIRE', 'EXETER', 'WYRE FOREST', 'CHICHESTER',
       'THAMESDOWN', 'THE EAST YORKSHIRE BOROUGH OF BEVERLEY',
       'MEIRIONNYDD', 'SEVENOAKS', 'DERWENTSIDE', 'WARWICK', 'GILLINGHAM',
       'READING', 'NEWBURY', 'SOUTH BUCKS', 'BLACKPOOL',
       'NORTH BEDFORDSHIRE', 'HARTLEPOOL', 'EAST NORTHAMPTONSHIRE',
       'NEWARK AND SHERWOOD', 'TAMWORTH', 'SCUNTHORPE', 'TAUNTON DEANE',
       'VALE ROYAL', 'SOUTH DERBYSHIRE', 'EAST STAFFORDSHIRE', 'NEATH',
       'CONGLETON', 'BLABY', 'TUNBRIDGE WELLS', 'DELYN', 'DOVER',
       'KETTERING', 'SOUTH BEDFORDSHIRE', 'CLEETHORPES', 'KNOWSLEY',
       'WORTHING', 'MONMOUTH', 'PENWITH', 'TYNEDALE', 'CHESTER',
       'RIBBLE VALLEY', 'CARMARTHEN', 'HALTON', 'EASINGTON',
       'BOURNEMOUTH', 'WELWYN HATFIELD', 'ARFON', 'NUNEATON AND BEDWORTH',
       'SOUTH HOLLAND', 'FAREHAM', 'WORCESTER', 'MEDWAY', 'BATH',
       'LLIW VALLEY', 'BURNLEY', 'FOREST HEATH', 'FYLDE', 'WYRE',
       'STROUD', 'CORBY', 'CARLISLE', 'WEST DEVON',
       'BARKING AND DAGENHAM', 'CHESTER-LE-STREET', 'BLYTH VALLEY',
       'SOUTH HEREFORDSHIRE', 'DWYFOR', 'NORTH WARWICKSHIRE', 'MANSFIELD',
       'LANGBAURGH-ON-TEES', 'NORTHAVON', 'STAFFORDSHIRE MOORLANDS',
       'TEWKESBURY', 'CORNWALL', 'ISLE OF ANGLESEY', 'OADBY AND WIGSTON',
       'WEST OXFORDSHIRE', 'SHREWSBURY AND ATCHAM', 'EAST CAMBRIDGESHIRE',
       'BOSTON', 'ALNWICK', 'WANSBECK', 'CREWE AND NANTWICH',
       'HINCKLEY AND BOSWORTH', 'ABERCONWY', 'COPELAND', 'COUNTY DURHAM',
       'CITY OF DERBY', 'YORK', 'YNYS MON-ISLE OF ANGLESEY', 'GLYNDWR',
       'EDEN', 'SOUTH PEMBROKESHIRE', 'SWINDON', 'BRECKNOCK',
       'CARMARTHENSHIRE', 'OSWESTRY', 'SOUTH NORTHAMPTONSHIRE',
       'CENTRAL BEDFORDSHIRE', 'WEYMOUTH AND PORTLAND', 'RUTLAND',
       'PEMBROKESHIRE', 'NORTH SOMERSET', 'CITY OF BRISTOL',
       'BERWICK-UPON-TWEED', 'CHESHIRE EAST', 'ISLE OF WIGHT',
       'EAST RIDING OF YORKSHIRE', 'NORTH SHROPSHIRE', 'BEDFORD',
       'WEST BERKSHIRE', 'NEATH PORT TALBOT', 'WEST NORTHAMPTONSHIRE',
       'THE VALE OF GLAMORGAN', 'NORTH NORTHAMPTONSHIRE',
       'NORTH LINCOLNSHIRE', 'SHROPSHIRE', 'BLACKBURN WITH DARWEN',
       'CAERPHILLY', 'WREKIN', 'BRIDGEND', 'HEREFORDSHIRE', 'RADNORSHIRE',
       'SOUTH GLOUCESTERSHIRE', 'EAST SUFFOLK', 'CITY OF NOTTINGHAM',
       'CITY OF PETERBOROUGH', 'REDCAR AND CLEVELAND', 'CONWY',
       'CITY OF PLYMOUTH', 'FLINTSHIRE', 'NORTHUMBERLAND',
       'NORTH YORKSHIRE', 'CHESHIRE WEST AND CHESTER', 'BUCKINGHAMSHIRE',
       'RHONDDA CYNON TAFF', 'DORSET', 'SOMERSET', "ST MARY'S",
       'MONMOUTHSHIRE', 'WREXHAM', 'SOMERSET WEST AND TAUNTON',
       'NORTH EAST LINCOLNSHIRE', 'DENBIGHSHIRE', 'FOLKESTONE AND HYTHE',
       'BOURNEMOUTH, CHRISTCHURCH AND POOLE', 'RADNOR',
       'WESTMORLAND AND FURNESS', 'WEST SUFFOLK', 'CUMBERLAND',
       'ISLES OF SCILLY'], dtype=object)